body {
    height: 100vh;
    margin: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
    font-family: 'Abril Fatface', cursive;
}

img {
    width: 100%;
}

.page-wrapper {
    width: 100%;
    padding: 0% 15%;
}

body::-webkit-scrollbar {
    display: none;
  }

.welcome {
    width: 100%;
    height: 100vh;
}

.navbar-nav {
    right: 0;
}

.dropdown-item, .nav-link {
    font-family: 'Abril Fatface', cursive;
    font-size: 2.04em;
    text-decoration: none;
}


.welcome-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-areas: "wtext wimg";
    grid-gap: 2rem;
    margin: 12vh;
}

.welcome-text {
    grid-area: wtext;
}

.welcome-text h1 {
    font-family: 'Abril Fatface', cursive;
    color: rgb(70, 172, 95);
    font-weight: 800;
    font-size: 4.18em;
    
}

.welcome-text h2 {
    font-family: 'Bungee Shade', cursive;
    color: hsl(120, 51%, 14%);
    font-weight: 900;
    font-size: 4.63em;
}

.welcome-text h3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 1.39em;
    color: #000;
}

.welcome-img {
    grid-area: wimg;
    padding-left: 5vh;
}
.welcome-img img {
    height: 40vh;
    border-radius: 50%;
}

.project-wrapper {
    display: grid;
    width: 100%;
    height: 100vh;
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    ". pc0"
    "pc1 pc2";
}

#project-header {
    grid-area: pc0;
}

.pc1 {
    grid-area: pc1;
}

.pc2 {
    grid-area: pc2;
}

.pc1 a img, .pc2 a img {
    object-fit: fill;
    width: 100%;
    border-radius: 10%;
    padding: 2% 2%;
}

.project-wrapper h1 {
        font-family: 'Bungee Shade', cursive;
        color: #000;
        font-weight: 900;
        font-size: 5.06em;
}